.card {
    margin: 0 20px 25px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    max-width: 1150px;
    width: 95%;
    border-radius: 10px;
}

@media screen and (max-width: 713px) {
    .card {
        margin: 0 10px 10px;
    }
}