.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85px;
}

@media screen and (max-width: 853px) {
    .header {
        padding: 15px 50px;
    }
}

@media screen and (max-width: 713px) {
    .header {
        flex-direction: column;
        padding: 15px 15px;
    }
}