.footer__contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    opacity: 0.8;
    margin: 0 0 0 15px;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .footer__contacts {
        font-size: 19px;
        line-height: 20px;
    }
}

@media screen and (max-width: 713px) {
    .footer__contacts {
        font-size: 16px;
        line-height: 17px;
        margin: 0;
    }
}